* {
  font-family: 'Raleway', sans-serif;
  padding: 5px;
}

.header {
    color: rgb(50,132,191);
    background-color: rgb(255,232,0);
    margin: 20px 0px 20px 0px;
}
h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 90%;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}
